<!DOCTYPE html>
<html>
<head>
    <title> FORMULIR PENDAFTARAN CLAS</title>
</head>
<link rel="stylesheet" href="style.css">
body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
}


h2 {
    text-align: center;
    color: #003366;
}


table {
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}


input, textarea, select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="radio"] {
    width: auto;
}


input[type="submit"] {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #004c99;
}
<body>
